<h1 class="predTitle">PREDICTOR</h1>



          

    <div class="predictNav">

        <a href="/adminPredictor" class="predItems">Predictions</a>

        <a href="/adminStandingsPredictor" class="predItems">Standings</a>  
        
        <a href="/adminHistory" class="predItems">History</a>  

    </div>        

    <br> <br>
    


<h1 class="predTitle2">Predcitons week 27</h1>

        <div class="predictInfo">

      
            <form action="/submit-predictions" method="POST">
                    <input type="hidden" name="username" value="<%= username %>"> <!-- dynamically set username -->


                <table class="predTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Competition</th>
                            <th>Home</th>
                            <th>H</th>
                            <th>A</th>
                            <th>Away</th>
                            <th>Goalscorer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2024-06-30</td>
                            <td>Premier League</td>
                            <td>Tottenham</td>
                            <td><input type="number" name="Tottenham_H" placeholder="-" class="result" min="0" max="9"></td>
                            <td><input type="number" name="Arsenal_A" placeholder="-" class="result" min="0" max="9"></td>
                            <td>Arsenal</td>
                            <td>
                            <select id="dropdown">
                                <option value="option1">Option 1</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </td>
                        </tr>
                        <tr>
                            <td>2024-06-30</td> 
                            <td>Premier League</td>
                            <td>Newcastle</td>
                            <td><input type="number" name="Newcastle_H" placeholder="-" class="result" min="0" max="9"></td>
                            <td><input type="number" name="Brighton_A" placeholder="-" class="result" min="0" max="9"></td>
                            <td>Brighton</td>
                            <td>
                                <select id="dropdown">
                                    <option value="option1">Lukaku</option>
                                    <option value="option2">Guidetti</option>
                                    <option value="option3">Dewsbury-Hall</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <button type="submit" class="actionButtons">Submit Predictions</button>
            
            
            </form>


    </div>


</div>


   

    
