<h1 class="predTitle">EUROMANAGER</h1>


          

<div class="predictNav">

    <a href="/adminEuromanager" class="predItems">Pick team</a>
  
    <a href="/adminPoints" class="predItems">Points</a>  
  
    <a href="/adminTransfers" class="predItems">Transfers</a>  
    
    <a href="/adminStandings" class="predItems">Standings</a>  
  
  </div>       

    <br> <br>
    
    <h1 class="predTitle2">STANDINGS</h1>



</div>



<div class="predictInfo">

    
</div>

   

    
