<header class="header">    

    <nav class="nav2">

        <div class="siteLogoHolder">
            <a href="/" class="off"><img src="/img/siteLogo.png"></a>            
        </div>      

                <div class="navitemsDiv">             

                    <div class="navitemsDivList">

                        <a href="/predictor" class="navitems">Predictor</a>            
                        <a href="/euromanager" class="navitems">Euromanager</a>  
                        
                    </div>                    
                   
                </div>

                <!-- <div class="searchBar">
                    <div class="containerSearch">
                
                        <form action="/search" class="search__form" role="search" method="POST">
                   
                        <input 
                        type="search" 
                        aria-label="Search"
                        id="searchInput"
                        name="searchTerm"
                        placeholder="Search the site..."/>
                
                        </form>
                
                   
                    </div>
                </div> -->
                
                
               

    </nav>

    <div class="usernameInfo">
        <h1 class="usernameText"><%- locals.username %></h1>
        <div class="signinDiv">
            <a href="/admin" class="signin">Sign in</a>                        
            <a href="/register" class="signin">Sign up</a>
        </div>
       
    </div>

</header>


