<h1 class="predTitle">EUROMANAGER</h1>

          

   

    

 

    <div class="articlePoint">        
      
  
      <div class="fantasyHome">
          <h1>Fantasy-manager</h1>
          <p>Coming soon....<br>
          Choose your team and compete</p>
      </div>
  
    </div>


      



   

    
