<h1 class="predTitle">PREDICTOR</h1>

          

     

<div class="articlePoint">
        
    <div class="predictHome">
        <h1>Predictor</h1>
        <p>Predict different football results weekly,<br>
        compete with your friends in different leagues</p>
    </div>

   

  </div>
    



  
    

   

    
