@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');



body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-base);
  background-color: #FAF5EE;
  margin: 0;
}



input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 125%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
  height:35px;
}

.btn {
  font-size:20px; 
  height:30px;
  margin-top:0px;
  background-color:#8968CD;
  color:white;
          text-decoration: none;
          margin: 0 10px;
          border: 0px solid black;
          border-radius: 5px;
          font-size:20px;          
          padding: 5px 10px;
}

.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
}




/* Layout */
.container {
  
}








h1 {
  font-size:24px;
}

p {
  font-size:18px;

}

.navitems {
  font-size:20px; 
  height:30px;
  margin-top:0px;
  background-color:#8968CD;
  color:white;
}

.navitems:hover {
  background-color: #7800ab; 
}

.navitemsDiv {
  
}

.navitemsDivList {
  margin-top:30px;
}

.nav2 {
  background-color: lightgray; 
  
}



.nav1 {
  background-color: orange ; 

}


header nav {
  display: flex;
  justify-content: center; 
}
header nav a {
  background-color: #CBC3E3;
          color: white;
          text-decoration: none;
          margin: 0 10px;
          border-radius: 5px;
          transition: background-color 0.3s;
          font-size:20px;
          
          padding: 5px 10px;

}



.signin {
  padding: 0px 0px;
  background-color:#8968CD;
    font-size:15px;
  color:white;
  padding: 4px 4px;
  border-radius: 5px;


}

.signinDivAdmin {
  padding: 0px 0px;
    font-size:15px;
  color:white;
  padding: 4px 4px;
  margin-left:10px;
  height:25px;
  margin-top:0px;
  border: 0px solid black;
          border-radius: 5px;
          justify-content: space-between;
          display: flex;
          gap: 10px;
}

.signinDiv {
  padding: 0px 0px;
    font-size:15px;
  color:white;
  padding: 4px 4px;
  margin-left:10px;
  height:25px;
  border: 0px solid black;
          border-radius: 5px;
          justify-content: space-between;
          display: flex;
          gap: 10px;
}

.signin {
  margin-left:10px;

}



.signin:hover {
  background-color: #7800ab; 
}






.header__button{
  margin-top:20px;
}



/* Author - HomePage */
.author {
  padding: 10px 0;
  text-align: center;
}

.author__heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.author__body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}


.article {
  max-width:900px;
}
/* Home Article List */
.articles__heading {
  margin-top: 4rem;
  font-weight: 400;
  font-size: 20px;
  
}

.article-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}





@media only screen and (min-width: 768px) {
  

  
}




.article {
  white-space: pre-wrap;
  
}



.articles {
  
  justify-content: center;
}


/* Footer */
.footer {
  text-align: center;
  background-color:gray;
}


/* Dashboard Admin */
.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-post-controls .btn  {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
}

.admin-posts li {
  display: flex;
  padding: 10px 0;
}

/* SeachBar */
.searchBar {
  background-color: var(--black);
  padding: 4px 0;
 
  margin:0;
  
}




.searchBar input {
  border: 3 px solid;
  max-width:250px;
  height:15px;
  justify-content: left;
  margin-right:50px;

}

#searchClose {
  top: 0;
  color: var(--gray-light);
  
  
}


.pagination {
  font-size: 1.3rem;
  color: var(--gray);
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: var(--black);
}










.articlePoint {

  margin: 0 auto;
  
  max-width:990px;
}


.eachPost {
  margin-top:10px;
  border: 0px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}

.articleDate {
  margin-top:-20px;
  text-align:right;
}





.homeInfo {
  display: flex; /* Use flexbox for layout */
  justify-content: center;

}

.predictHome {
  flex: 1; /* Take up 1 part of available space */
  padding: 20px;
  background-color: white;
  border: solid 0px black;
  max-width:450px;
  margin-right:5px;
  margin-top:10px;
  border-radius: 20px;
}
.fantasyHome {
  flex: 1; /* Take up 1 part of available space */
  padding: 20px;
  background-color: white;
  border: solid 0px black;
  max-width:450px;
  margin-left:5px;
  margin-top:10px;
  border-radius: 20px;
}

.article-list__date {
  margin-left:100px;
  justify-content: right;
}


.siteLogoHolder {
  margin-right:25px;
  background-color: none;
  padding: 0px 0;
  color:none;
  transition:none;
}

.off {
  margin-right:25px;
  background-color: lightgray;
  padding: 0px 0px;
  color:none;
  transition:none;

}

body {
  background-color:#b6b5d8;
}

.articleTitles {
  text-decoration:none;
  font-weight:bold;
  font-size:18px;

}

.article-list__date {
  font-style: italic;

}

a {
  text-decoration:none;
}










.predTitle {
  text-align:center;
  font-size:45px;
}

.predTitle2 {
  text-align:center;
  font-size:35px;
}

.predictNav {

  text-align:center;
}

.predItems {
  font-size:22px; 
  height:30px;  
  background-color:#8968CD; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  padding: 5px 10px;
  margin:30px;
  
}

.predItems:hover {
  background-color: #7800ab; 
}



.predItems2 {
  font-size:18px; 
  height:30px;  
  background-color:#964B00; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  padding: 5px 10px;
  margin:30px;
  
}

.predItems2:hover {
  background-color: #5C4033; 
}



.predictInfo {
  display: flex; /* Use flexbox for layout */
  flex: 1; /* Take up 1 part of available space */
  padding: 20px;
  background-color: white;
  border: solid 0px black;
  margin-right:5px;
  margin-top:10px;
  border-radius: 20px;
  text-align:center;
  justify-content: center;
  margin: 0 auto;
  
  max-width:1150px;

}

.predictInfo2 {
  display: flex; /* Use flexbox for layout */
  flex: 1; /* Take up 1 part of available space */
  padding: 20px;
  background-color: white;
  border: solid 0px black;
  
  border-radius: 20px;
  justify-content: center;
    align-items: center;
  margin: 0 auto;
  flex-direction: column;

  max-width:930px;

}





table {
  font-size:20px;
  border-collapse: collapse;
}
tr {
  border-bottom: 3px solid #ccc;
}
td {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
td {
  padding: 5px 15px; /* Adjust the padding as needed */
  font-size:14px;
}


.predTable {
  font-size:18px;
  margin:auto;
  display: block;
 
}

.predTable td {
  font-size:18px;
}

.predTable th {
  font-size:22px;
}




.managerTable {
  margin:auto;
  display: block;
 
}
.managerTable th, .managerTable td {
  padding: 5px 10px; /* Set padding to 0 */
}

.managerTable td {
  font-size:14px;
}

.managerTable th {
  font-size:16px;
}




#managerTable tr td:nth-child(1), #managerTable tr th:nth-child(1) {
 width:15px;
}
/* Target the second column */
#managerTable tr td:nth-child(2), #managerTable tr th:nth-child(2) {
  width:200px;

}

#managerTable tr td:nth-child(3), #managerTable tr th:nth-child(3) {
  width:30px;
}

#managerTable tr td:nth-child(4), #managerTable tr th:nth-child(4) {
  width:30px;
}


#managerTable tr td:nth-child(5), table tr th:nth-child(5) {
  width:30px;
}




.tdline {
  border-bottom: 3px solid black;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  display:none;
}


.fieldImg {
  margin-right:25px;
  

}

.fieldImg2 {
  margin-left:-150px; 

}

#player1GK,#player2GK,#player3DF,#player4DF,#player5DF,#player6DF,#player7DF,#player8MD,#player9AT,#player10AT,#player11AT,#player12MD,#player13MD,#player14MD,#player15MD {
  transition: outline 0.1s ease; /* Transition for outline */
  border-radius: 20px; /* Round corners */
  padding: -20px; /* Adjust padding to control outline height */

}

#player1GK:hover,#player2GK:hover,#player3DF:hover,#player4DF:hover,#player5DF:hover,#player6DF:hover,#player7DF:hover,#player8MD:hover,#player9AT:hover,#player10AT:hover,#player11AT:hover,#player12MD:hover,#player13MD:hover,#player14MD:hover,#player15MD:hover {
  cursor: pointer;
  outline: 5px solid blue;
  outline-offset: -3px; /* Offset to prevent resizing */
  border-radius: 20px; /* Round corners */

}

#playerchosen {
  outline:solid 5px black;
  outline-offset: -3px; /* Offset to prevent resizing */


}





.benchBG {
  width:500px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: 18px;
  position: relative;
  display:flex;
  margin-right:148px;

}

.benchBG2 {
  background-color:lightgray;
}



.formationclass {
  
  width: 150px;
  height: 150px;
  position: relative;
}

.formation442 div:nth-child(1) { grid-area: a; }
.formation442 div:nth-child(2) { grid-area: b; }
.formation442 div:nth-child(3) { grid-area: c; }
.formation442 div:nth-child(4) { grid-area: d; }



#keeperDiv442 {
  display:flex;
  justify-content: center; /* Center items horizontally */
  align-items: center;
  width:545px;
  margin-left:255px;
}

#defenceDiv442 {
  display:flex;
  gap: 20px; /* Set the horizontal gap between items */
  width:400px;
  margin-left:255px;
}

#midfieldDiv442 {
  display:flex;
  gap: 20px; /* Set the horizontal gap between items */
  width:400px;
  margin-left:255px;
}

#attackDiv442 {
  display:flex;
  gap: 20px; /* Set the horizontal gap between items */
  width:400px;
  margin-left:395px;
}








#keeperDiv442x {
  display:flex;
  justify-content: center; /* Center items horizontally */
  align-items: center;
  width:545px;
  margin-left:105px;
  gap: 20px; /* Set the horizontal gap between items */

}

#defenceDiv442x {
  display:flex;
  gap: 20px; /* Set the horizontal gap between items */
  width:400px;
  margin-left:35px;
}

#midfieldDiv442x {
  display:flex;
  gap: 20px; /* Set the horizontal gap between items */
  width:400px;
  margin-left:35px;
}

#attackDiv442x {
  display:flex;
  gap: 20px; /* Set the horizontal gap between items */
  width:400px;
  margin-left:175px;
}







#keeperDiv433 {
  display:flex;
  justify-content: center; /* Center items horizontally */
  align-items: center;
  width:545px;
}

#defenceDiv433 {
  display:flex;
  gap: 20px; /* Set the horizontal gap between items */
  width:400px;

}

#midfieldDiv433 {
  display:flex;
  gap: 20px; /* Set the horizontal gap between items */
  width:200px;
  background-color:red;
}

#attackDiv433 {
  display:flex;
  gap: 20px; /* Set the horizontal gap between items */
  width:500px;
  margin-left:137px;
}








.formationForm {
  height:60px;
  font-size:18px;
  width:160px;
}
















.pname {
  margin-top:-14px;
  background-color:lightgray;
  font-size:14px;
  width:120px;
}

.pPoints {
  margin-top:-14px;
  background-color:darkgray;
  font-weight:bold;
  font-size:14px;
  width:120px;
}

.pMatch {
  margin-top:-14px;
  background-color:darkgray;
  font-weight:bold;
}



.result {
  width:35px;
  height:30px;
  font-size:22px;
  font-weight:bold;
  text-align:center;
}


.usernameInfo {
  display: flex; /* Use flexbox for layout */
  flex: 1; /* Take up 1 part of available space */
  padding: 5px;
  background-color: white;
  border: solid 0px black;
  margin-right:5px;
  margin-top:10px;
  border-radius: 20px;
  justify-content: space-between;
    align-items: center; 
  margin: 0 auto;
  margin-top:10px;
  max-width:400px;
  height:40px;
  background-color:lightgray;
}

.usernameText {
  font-size:18px;
  margin-top:10px;
  margin-left:15px;
}



.actionButtons {
  font-size:20px; 
  height:30px;
  margin-top:0px;
  background-color:#808080;
  color:white;
  border:solid 0px black;
  border-radius: 5px;
}

.actionButtons2 {
  font-size:30px; 
  height:60px;
  width:100px;
  
  background-color:#808080;
  color:white;
  border:solid 0px black;
  border-radius: 5px;
}


.actionButtons:hover {
  background-color: #000000 ; 
}

.actionButtons2:hover {
  background-color: #000000 ; 
}





.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}
.popup.active {
  display: block;
}

#dropdown {
  padding:0px;
  width:175px;
  margin-top:15px;
}

.changeArrow2 {
  margin-top:7px;
  margin-left:20px;

}

.changeArrow1 {
  margin-left:0px;
  margin-top:7px;

}

.changeArrowText {
  margin-left:125px;
}


.changeArrowClass {
  margin-top:-15px;
  display: flex; /* Use flexbox for layout */

}

.filterDiv {
  display: flex;
  align-items: center; /* Optional: centers items vertically */
  gap: 20px; /* Optional: adds space between items */
  margin-left:50px;
  margin-top:-10px;
}

.labelTitles {
  display: flex;
  align-items: center; /* Optional: centers items vertically */
  gap: 75px; /* Optional: adds space between items */
  margin-left:77px;
}

.posTitle {
  font-size:16px;
  font-weight:bold;
}


#dropdownPos {
  width:85px;
  height:45px;
  font-size:14px;
}

#dropdownTeam {
  width:85px;
  height:45px;
  font-size:14px;
}


#dropdownPrice {
  width:85px;
  height:45px;
  font-size:14px;
}